/*************************************************************************/
/* Layout */
/*************************************************************************/

#topLine {
    background-color: red;
    width: 100%;
    height: 2px
}

#mainContent {
    width: 100%;
    margin: 0 auto;
    height: 800px;
    background-color: #080808;
}

#sidebar {
    float: left;
    width: 200px;
    height: 400px;
    background-color: #212121;
    color: #FFFFFF;
    -moz-transform-origin: 0% 50%;
    -moz-transform: perspective(800px) rotateY(20deg);
    -moz-transition: all 0.5s;
}

#sidebar:hover {
    -moz-transform-origin: 0% 0%;
    -moz-transform: perspective(800px) rotateY(0deg);
    -moz-transition: all 0.4s;
}

#pageWrap {
    margin-left: 200px;
    width: 1000px;
    height: 400px;
    background-color: #383838;
}


/*************************************************************************/
/* Info Box */
/*************************************************************************/

#infoBox {
    width: 20%;
    float: right;
    height: 100px;
    background-color: red;
    -moz-transform-origin: 50% 0%;
    -moz-transform: perspective(200px) rotateX(-65deg);
    -moz-transition: all 0.2s;
}

#infoBox:hover {
    -moz-transform-origin: 50% 0%;
    -moz-transform: perspective(200px) rotateX(0deg);
    -moz-transition: all 0.2s;
}


/*************************************************************************/
/* Style Box */
/*************************************************************************/

#styleBox {
    /* background-color: blue; */
    /* width: 150px; */
    display: table-row;
    bottom: -10px;
    position: relative;
    float: right;
}

#styleBox:hover {
    -moz-trnsform-origin: 0% 0%;
    -moz-transform: scale(1.15);
    -moz-transition: all .2s;
}

#styleBoxContent {
    display: inline;
    background-color: red;
    border-bottom: 1px solid red;
    /* bottom: 100px; */
    /* position: absolute; */
}

#styleBoxTriangleLeft {
    width: 0px;
    height: 0px;
    float: left;
    border-color: transparent red red transparent;
    border-style: solid;
    border-width: 10px;
}

#styleBoxTriangleRight {
    width: 0px;
    height: 0px;
    float: right;
    border-color: transparent transparent red red;
    border-style: solid;
    border-width: 10px;
}


/*************************************************************************/
/* Bird */
/*************************************************************************/

#bird {
    width: 30px;
    height: 30px;
    position: absolute;
    float: left;
    border-color: transparent #FF0000 #FF0000 transparent;
    border-style: solid;
    border-width: 10px;

    -moz-transform-origin: 0% 0%;
    -moz-transform: rotate(-45deg);
    -moz-transition: all 0.2s;
    top: 500px;
}

#bird:hover {
    /* background-color: rgba(255, 0, 0, .2); */
    border-color: orange #FF0000 #FF0000 blue;
    border-radius: 100px 100px 0px 100px;
    -moz-transform-origin: 0% 0%;
    -moz-transform: rotate(-45deg) scale(1.2) translate(10px, 10px);
    -moz-transition: all 0.8s;
}

/*************************************************************************/
/* Diverse */
/*************************************************************************/

#sidebarHeader{
    background-color: #383838;
    margin: none;
    padding: 10px;
}

#testList { margin-top: 10px; }

#testList div {
    margin: none;
    padding-left: 10px;
    padding-right: 10px;
}

#testList div:hover {
    background-color: rgba(255, 0, 0, .5);
    opacity: .5;
}

