!!!
%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => './assets/stylesheets/vendor/bootstrap.min.css'}
    %meta{:charset => 'utf-8'}
  %body
    -# %nav.navbar.navbar-default{:role => 'navigation'}
    -#   %div.container
    -#     %div.row
    -#       %div.navbar-header
    -#         %a.navbar-brand{:href => ''} BootstrapTest

    %div.container-fluid
      %div.row
        %div.col.col-md-3
          %div.panel.panel-default
            %div.panel-heading
              %span Left Sidebar
            %div.panel-body
              %p This is a panel body.
        %div.col.col-md-9
          %p Here goes the main content...
  
  %script{:type => 'text/javascript', :src => ''}
