/******************************************************************************/
/* Grid layout */
/******************************************************************************/

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/******************************************************************************/
/* Bling */
/******************************************************************************/
#header {
    border-bottom: solid 1px;
    text-align: center;
    font-family: "Helvetica";
    font-size: 50;
}

#navigation {
    text-align: center;
    /* letter-spacing: 8; */
    word-spacing: 50;
    border-bottom: solid 1px;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
}

#navigation li a {
    text-decoration: none;
    font-size: 20;
    font-family: "Helvetica";
    color: #000000;

    /* float: left; */
}

#navigation li a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

#mainContent p {
    border-top: solid 1px;
    border-top-style: solid;
    padding-top: 0.5em;
}

#sectionTitle {
    font-family: "Helvetica";
    font-size: 20;
    text-align: center;
}
