#mainContent {
    width: 640px;
    margin: 0px auto;
}

#testList li {
    font-family: "Arial";
    background-color: #0072C6;
    color: #FFFFFF;
    list-style: none;
    text-align: center;
}

#testTable {
    width: 100px;
    margin: 0px auto;
}

#testTable td {
    background-color: rgba(255, 0, 0, 0.5);
    border: none;
    width: 20px;
    height: 30px;
    /* opacity: 0.5; */
}

#testPar {
    background-color: #00AE00;
    padding: 5px;
}

.testHeading {
    background-color: #EA3F00;
    padding: 5px;
}
