<div id="content" class="container">
  <div id="main-content" class="container">

    <div class="row">

      <div class="col-md-9 content-box">
        <h2>Main</h2>
        <p>This is a test.</p>

        <h2>Warning</h2>
        <div class="warning-element">
          <h3>Warning</h3>
          <p>There have been complications.</p>
        </div>

        <h2>Serious Warning</h2>
        <div class="serious-warning-element">
          <h3>Warning</h3>
          <p>There have been complications.</p>
        </div>

        <h2>Special Warning</h2>
        <div id="special-warning" class="warning-element">
          <h3>Warning</h3>
          <p>Tis is a special warning.</p>
        </div>

        <h2>Warning With Default Border Width</h2>
        <div id="default-border-warning" class="warning-element">
          <h3>Warning</h3>
          <p>Tis is a warning using the default border width.</p>
        </div>

        <h2>Rotated Warning</h2>
        <p><strong>Hint: </strong>Hover over this warning box to rotate it back.</p>
        <div class="rotated-warning-element">
          <h3>Warning</h3>
          <p>This warning is rotated.</p>
        </div>

      </div>

      <div class="col-md-3 content-box">
        <%= render 'info_bar' %>
      </div>

    </div>
  </div>
</div>
